body {
    font-family: 'Viga', sans-serif;
    margin: 0;
    padding: 0;
}

.fuente-texto {
    font-family: 'Nunito', sans-serif;
}

.brand {
    font-size: 2.5rem;
}

.hero {
    width: 100%;
}

.text-header{
    text-shadow: 0.125em 0.25em 0.125em #707070;
}

.hero-lg {
    background-image: url(../img/hero1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 40%;
    background-color: #373a3c;
}

.carousel-indicators {
    top: 105%;
}

.logo_size {
    width: 40%;
}

.iconos {
    font-size: 3rem;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
  }